<!doctype html>
<html>
  <head>
    <meta charset=utf-8>
    <title>Infinity.js</title>
    <link rel=stylesheet type=text/css href=assets/o2.css>
    <link rel=stylesheet type=text/css href=assets/custom.css>
  </head>

  <body>
    <div class='container main-container'>
      <div class=row>
        <div class=span12>
          <h1 class=logo>
            <a class=logo-link href=/>
              <span class=logo-prefix>&infin;</span>
              <span class=logo-suffix>.js</span>
            </a>
          </h1>
        </div>
      </div>
      <div class='row main-copy'>
        <div class=span12>
          <p>
            <a href=/ class=infinity-logo>&infin;</a> is a UITableView for the 
            web: it speeds up scrolling through long lists and keeps your 
            infinite feeds smooth and stable for your users. It is small, 
            battle-tested, and highly performant. The code is hosted on 
            <a href=#>Github</a>, and distributed under the BSD License.
          </p>
          <p>
            <a href=/ class=infinity-logo>&infin;</a> was built by 
            <a href=http://www.airbnb.com/jobs>Airbnb</a>
            alongside the development of the Popular Wishlists and Friends
            feeds, and sees daily production use there today.
          </p>
        </div>
      </div>
      <div class=row>
        <div class=span8>
          <br>
        </div>
        <div class=span4>
          <div class='download
                      panel-background-white
                      panel-border panel-padding'>
            <div class=row-fluid>
              <p class=download-copy>Development version (unminified, with comments)</p>
              <a href=infinity-wrapper.js class='btn gray'>Download</a>
            </div>
            <br>
            <div class=row-fluid>
              <p class=download-copy>Production version (minified and comments stripped)</p>
              <a href=# class=btn>Download</a>
            </div>
          </div>
        </div>
      </div>

      <div class=navbar id=reference>
        <div class=navbar-inner>
          <div class=container>
            <a href=#reference class=brand>
              <span class=infinity-logo>&infin;</span> Reference Guide
            </a>
            <ul class=nav>
              <li><a href=#api-listview>Introduction</a>
              <li class=divider-vertical>
              <li><a href=#api-listview>ListView</a>
              <li class=divider-vertical>
              <li><a href=#api-page>Page</a>
              <li class=divider-vertical>
              <li><a href=#>ListItem</a>
              <li class=divider-vertical>
              <li><a href=#>Demo</a>
            </ul>

            <ul class='nav pull-right'>
              <li><a href=# class='pink btn fork'>
                    <i class='icon icon-github'></i> Fork Me
                  </a>
            </ul>
          </div>
        </div>
      </div>

      <div class=row>
        <div class=span12>
          <div class='panel-padding'>

            <div class='row-fluid api-doc' id=api-listview>
              <div class=span8>
                <h2><a class=api-header-link href=#api-listview>ListView</a></h2>
                <p class=api-copy>
                  A <strong>ListView</strong> is a container
                  that moves content in and out of the DOM on the scroll event.
                  ListViews help keep repaint times of expensive pages down
                  (and scrolling smooth) by making sure that there are never
                  too many elements onscreen at a single time. ListViews excel
                  at speeding up long lists of complex HTML elements,
                  where new content is frequently appended to the end and
                  existing content is rarely removed.
                </p>
                <p class=api-copy>
                  ListViews are simple, and have several caveats: they can't be
                  nested inside each other, and they can't have heights set via
                  CSS. Additionally, ListViews can't easily change sizes except
                  by appending or removing elements, and so list items that
                  need to slide open or change their sizing will be difficult
                  to implement. Appending elements to a ListView is relatively
                  fast, but removing elements is slower &mdash; so designs that
                  need to remove elements multiple times a second at high
                  framerates will struggle.
                </p>
              </div>
              <div class='span3 offset1'>
                <div class='panel-background-white panel-border summary'>
                  <div class='panel-header panel-header-dark'>
                    <h3>Table of Contents</h3>
                  </div>
                  <div class=panel-padding>
                    <ul class=unstyled>
                      <li class=pull-right><a href=#>Summary</a>
                      <li class=pull-right><a href=#>Properties</a>
                      <li class=pull-right><a href=#>Methods</a>
                      <li class=pull-right><a href=#>Examples</a>
                    </ul>
                  </div>
                </div>
              </div>
            </div>


            <div class='row-fluid api-doc' id=api-page>
              <div class=span9>
                <h2><a class=api-header-link href=#api-page>ListItem</a></h2>
                <p class=api-copy>
                  <strong>ListItems</strong> are wrappers for individual DOM
                  nodes placed inside a ListView. You'll normally never need
                  to create ListItems yourself; the ListView will automatically
                  wrap any jQuery elements you pass into it for you. However,
                  you may find it useful to interact with them
                  individually, and so ListViews make it easy to inspect their
                  collections of ListItems.
                </p>
              </div>
              <div class=span3>
                <div class='panel-background-white panel-border summary'>
                  <div class='panel-header panel-header-dark'>
                    <h3>Table of Contents</h3>
                  </div>
                  <div class=panel-padding>
                    <ul class=unstyled>
                      <li class=pull-right><a href=#>Summary</a>
                      <li class=pull-right><a href=#>Properties</a>
                      <li class=pull-right><a href=#>Methods</a>
                      <li class=pull-right><a href=#>Examples</a>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class=row>
        <div id=demo class=span12>
        </div>
      </div>
    </div>

    <div class='modal fade' id=save-modal>
      <div class=modal-header>
        <a href=# class=close>&times;</a>
        <h1>Save To Puglist?</h1>
      </div>
      <div class=modal-body>
        <p>Are you sure you want to save this to your puglist?</p>
      </div>
      <div class=modal-footer>
        <a class='save btn' href=#>Yes</a>
        <a class='no-save red btn' href=#>No</a>
      </div>
    </div>

    <script type=text/html id=demo-template>
      <div class=row-fluid>
        <% for(var i = 0, length = pugs.length; i < length; i++) { %>
          <%= pugs[i] %>
        <% } %>
      </div>
    </script>

    <script type=text/html id=demo-pug-template>
      <div class='span<%= Math.floor(12 / num) %> pug-item'>
        <div class='matte-media-box pug-box'
          data-pug="<%= pug.src %>"
          data-name="<%= title %>"
          data-caption="<%= caption %>"
        >
          <% intendedSize = num === 3 ? 322 : 493 %>
          <% scale = (intendedSize - 10) / pug.width %>
          <img class='pug' data-original="<%= pug.src %>" 
                style="width: <%= pug.width * scale %>px;
                      height: <%= pug.height * scale %>px;">

          <div class=caption>
            <h4 class=caption-name><%= title %></h4>
            <p class=caption-text><%= caption %></p>
            <div class='price-tag
                        <%= rotateRight ? "rotate-right" : "" %>
                        <%= rotateLeft ? "rotate-left" : ""%>
                        '>
              <div class=price-bottom>
                <div class=curr-symbol>
                  $
                </div>
                <div class=price-text>
                  <%= price %>
                </div>
                <div class=per-night>
                  per night
                </div>
              </div>
              <div class=price-top>
              </div>
              <i class='icon icon-pushpin'></i>
            </div>
          </div>

          <a class='heart<%= saved ? " saved" : "" %>' rel=tooltip title='Save to Puglist'>
            <i class='icon icon-heart heart-inner'></i>
          </a>
        </div>
      </div>
    </script>

    <script type=text/html id=spinner-template>
      <div class=row>
        <div class=span12>
          <img src=assets/images/icons/spinner.gif class=spinner alt='Loading...'>
        </div>
      </div>
    </script>

    <script type=text/javascript src=https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js></script>
    <script type=text/javascript src=assets/ender.min.js></script>
    <script>ender.noConflict();</script>
    <script type=text/javascript src=assets/stdair.min.js></script>
    <script type=text/javascript src=assets/o2.min.js></script>
    <script type=text/javascript src=demo-package.js></script>
    <script type=text/javascript src=pugs.js></script>
    <script type=text/javascript src=names.js></script>
    <script type=text/javascript src=taglines.js></script>
    <script type=text/javascript src=storage.js></script>
    <script type=text/javascript src=infinity.js></script>
    <script type=text/javascript src=index.js></script>
  </body>
</html>
