a, a:hover {
  color: #EC2E90;
}

.main-container {
  margin-top: 25px;
}
.api-container {
  height: 1px;
}
.api-reference {
  position: fixed;
  width: 314px;
}

.logo {
  margin-top: -40px;
  margin-left: -14px;
}

.infinity-logo {
  font-size: 1.5em;
  position: relative;
  top: 2px;
  color: #1D95CB;
  -webkit-transition: color 0.15s linear;
     -moz-transition: color 0.15s linear;
      -ms-transition: color 0.15s linear;
       -o-transition: color 0.15s linear;
          transition: color 0.15s linear;
}
.infinity-logo:hover {
  color: #2EA6DC;
  text-decoration:none;
}

h1 a {
  color: #1D95CB;
  -webkit-transition: color 0.2s linear;
     -moz-transition: color 0.2s linear;
      -ms-transition: color 0.2s linear;
       -o-transition: color 0.2s linear;
          transition: color 0.2s linear;
}

h1 a:hover {
  color: #2EA6DC;
  text-decoration: none;
}

h2, h3 {
  font-weight: normal;
}
h2 a {
  color: black;
  -webkit-transition: color 0.1s ease-out;
     -moz-transition: color 0.1s ease-out;
      -ms-transition: color 0.1s ease-out;
       -o-transition: color 0.1s ease-out;
          transition: color 0.1s ease-out;
}
h2 a:hover {
  text-decoration: none;
  color: #1D95CB;
}

h1 .logo-prefix {
  font-size: 200px;
  line-height: 200px;
}
h1 .logo-suffix {
  font-size: 140px;
  line-height: 140px;
  position: relative;
  top: -10px;
  left: -4px;
  color: black;
}

.main-copy {
  margin-top: 20px;
  margin-bottom: 20px;
}
.main-copy p {
  font-size: 20px;
  line-height: 27px;
  font-weight: 200;
  margin-bottom: 20px;
}

.download {
  margin-bottom: 40px;
  padding-right: 16px;
}

.download .btn {
  float: right;
}

.navbar .container {
  width: auto;
}
.navbar .brand {
  line-height: 15px;
}
.navbar .navbar-inner ul li .btn {
  font-weight: normal;
  text-shadow: none;
}

.icon-github {
  font-size: 12px;
  position: relative;
  left: -1px;
}

.fork {
  position: relative;
  left: 5px;
}

.download p {
  font-size: 11px;
  font-style: italic;
  text-align: right;
}

.api-doc {
  margin-bottom: 40px;
}
.api-doc:last-child {
  margin-bottom: 10px;
}

.summary .panel-header {
  text-align:center;
}

.summary li {
  text-align: right;
}

.summary a , .summary a:hover {
  color: black;
  font-size: 16px;
  line-height: 40px;
}

.pug-box {
  width: 100%;
  margin-bottom: 50px;
}
