a, a:hover {
  color: #EC2E90;
}

.main-container {
  margin-top: 25px;
}
.api-container {
  height: 1px;
}
.api-reference {
  position: fixed;
  width: 314px;
}

.logo {
  margin-top: -40px;
  margin-left: -14px;
}

.infinity-logo {
  font-size: 1.5em;
  position: relative;
  top: 2px;
  color: #1D95CB;
  -webkit-transition: color 0.15s linear;
     -moz-transition: color 0.15s linear;
      -ms-transition: color 0.15s linear;
       -o-transition: color 0.15s linear;
          transition: color 0.15s linear;
}
.infinity-logo:hover {
  color: #2EA6DC;
  text-decoration:none;
}

h1 a {
  color: #1D95CB;
  -webkit-transition: color 0.2s linear;
     -moz-transition: color 0.2s linear;
      -ms-transition: color 0.2s linear;
       -o-transition: color 0.2s linear;
          transition: color 0.2s linear;
}

h1 a:hover {
  color: #2EA6DC;
  text-decoration: none;
}

h2, h3 {
  font-weight: normal;
}
h2 a {
  color: black;
  -webkit-transition: color 0.1s ease-out;
     -moz-transition: color 0.1s ease-out;
      -ms-transition: color 0.1s ease-out;
       -o-transition: color 0.1s ease-out;
          transition: color 0.1s ease-out;
}
h2 a:hover {
  text-decoration: none;
  color: #1D95CB;
}

h1 .logo-prefix {
  font-size: 200px;
  line-height: 200px;
}
h1 .logo-suffix {
  font-size: 140px;
  line-height: 140px;
  position: relative;
  top: -15px;
  left: -10px;
  color: black;
}

.main-copy {
  margin-top: 20px;
  margin-bottom: 20px;
}
.main-copy p {
  font-size: 20px;
  line-height: 27px;
  font-weight: 200;
  margin-bottom: 20px;
}

.download {
  margin-bottom: 40px;
  padding-right: 16px;
}

.download .btn {
  float: right;
}

.navbar .container {
  width: auto;
}
.navbar .brand {
  line-height: 15px;
}
.navbar .navbar-inner ul li .btn {
  font-weight: normal;
  text-shadow: none;
}

.icon-github {
  font-size: 12px;
  position: relative;
  left: -1px;
}

.fork {
  position: relative;
  left: 5px;
}

.download p {
  font-size: 11px;
  font-style: italic;
  text-align: right;
}

.api-doc {
  margin-bottom: 40px;
}
.api-doc:last-child {
  margin-bottom: 10px;
}

.summary .panel-header {
  text-align:center;
}

.summary li {
  text-align: right;
}

.summary a , .summary a:hover {
  color: black;
  font-size: 16px;
  line-height: 40px;
}

.pug-box {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}
.pug-box:hover {
  box-shadow: 0px 0px 5px 1px #EE71BA;
  border-color: #EE71BA;
}
.pug-box .caption {
  padding-right: 70px;
}
.pug {
  border-radius: 4px;
}

.spinner {
  margin: 40px 493px;
}

.heart {
  width: 30px;
  height: 31px;
  display: block;
  border-radius: 6px;
  position: absolute;
  opacity: 0.7;
  top: 10px;
  left: 10px;
  font-size: 24px;
  line-height: 24px;
  border: 1px solid #777;
  text-decoration: none;
  cursor: pointer;

  background: #e2e2e2; /* Old browsers */
  background: -moz-linear-gradient(top,  #e2e2e2 0%, #b5b5b5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(100%,#b5b5b5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e2e2e2 0%,#b5b5b5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e2e2e2 0%,#b5b5b5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e2e2e2 0%,#b5b5b5 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #e2e2e2 0%,#b5b5b5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#b5b5b5',GradientType=0 ); /* IE6-9 */

}
.heart:hover {
  text-decoration: none;
}
.heart:hover, .heart.saved {
  opacity: 0.95;
}

.heart-inner {
  color: #222;
  text-shadow: 1px 1px #DDD, -1px -1px #666;
  position: absolute;
  left: 5px;
  top: 5px;
  cursor: pointer;
}
.heart.saved .heart-inner {
  color: #EC2E90;
  text-shadow: 1px 1px #ECC, -1px -1px #844;
}
.tooltip {
  z-index: 1000;
}

.price-tag {
  position: absolute;
  bottom: -48px;
  right: 4px;
}
.price-top {
  background-color: #EC2E90;
  width: 34px;
  height: 34px;
  border-radius: 15px;
  position: relative;
  top: -78px;
  left: 8px;
  margin-bottom: -26px;
  border-top: 1px solid #A50A56;
}
.price-bottom {
  width: 48px;
  height: 66px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  border: 1px solid #A50A56;
  box-shadow: 1px 1px 5px #547;

  background: #ec2290; /* Old browsers */
  background: -moz-linear-gradient(top, #ec2290 39%, #cc287a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(39%,#ec2290), color-stop(100%,#cc287a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ec2290 39%,#cc287a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ec2290 39%,#cc287a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ec2290 39%,#cc287a 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ec2290 39%,#cc287a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec2290', endColorstr='#cc287a',GradientType=0 ); /* IE6-9 */
}

.price-text, .curr-symbol, .per-night {
  position: relative;
  z-index: 5;
  text-align: center;
  font-weight: normal;
}

.curr-symbol {
  color: #A50A56;
  font-size: 18px;
  line-height: 20px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5),0 1px 1px rgba(255, 255, 255, 0.5)
}

.price-text {
  color: #fff;
  font-size: 22px;
  line-height: 26px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
}

.per-night {
  color: #fff;
  font-size: 10px;
}

.price-tag .icon-pushpin {
  position: relative;
  left: 22px;
  top: -91px;
  margin-bottom: -16px;
  font-size: 14px;
  -webkit-transform: scaleX(-1);
}

.rotate-right {
  -webkit-transform: rotate(3deg);
}

.rotate-left {
  -webkit-transform: rotate(-3deg);
}
